body{
    background-color: rgb(59, 208, 231);
    color:white;
    font-family: 'Montserrat', sans-serif;
    
}
.lik{
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 30px;
    
}
img{
    height: auto;
    width: 500px;
    border-radius: 10px
}
.App{
  margin: auto;
  width: 50%;
  text-align: center;
  
}

